<form action="#" (ngSubmit)="submitAnimal()">
    <input type="text" name="species" [(ngModel)]="newAnimal.species" placeholder="Add species" />
    <input type="text" name="name" [(ngModel)]="newAnimal.name" placeholder="Add name" />
    <input type="text" name="dateOfBirth" [(ngModel)]="newAnimal.dateOfBirth" placeholder="Add date of birth" />
    <button type="submit" name="button">Add animal</button>
</form>



<table >
	<tbody>
		<tr>
			<td>Animal type</td>
			<td>Name</td>
			<td>Birthday</td>
		</tr>
		<tr *ngFor="let animal of animals; let index = index">
			<td>{{ animal.species }}</td>
			<td>{{ animal.name }}</td>
			<td *ngIf="animal.dateOfBirth">{{ animal.dateOfBirth }}</td>
			<td *ngIf="!animal.dateOfBirth">Unknown</td>
            <td (click)="moveToTop(index)"><button type="button" name="button">Move to Top</button></td>
            <td (click)="deleteRow(index)"><button type="button" name="button">Delete</button></td>
		</tr>
	</tbody>
</table>
